{{set . "title" "Users"}} {{template "header.html" .}}
{{if .flash}}<div class="row text-center"><div class="mx-auto">{{template "flash.html" .}}</div></div>{{end}}
<div class="row my-3">
    <h1>View Users</h1><br>
    {{with $b := .userobj}}
    <div class="row mt-3 w-100">        
        <div class="col-md-4 col-xs-12">Username</div>
        <div class="col-md-8 col-xs-12">{{.Username}}</div>
    </div>
    <div class="clearfix"></div>

    <div class="row mt-3 w-100">
        <div class="col-md-4 col-xs-12">Email</div>
        <div class="col-md-8 col-xs-12">{{.Email}}</div>
    </div>
    <div class="row mt-3 w-100">
        <div class="col-md-4 col-xs-12">First Name</div>
        <div class="col-md-8 col-xs-12">{{.Firstname}}</div>
    </div>
    <div class="row mt-3 w-100">
        <div class="col-md-4 col-xs-12">Last Name</div>
        <div class="col-md-8 col-xs-12">{{.Lastname}}</div>
    </div>
    <div class="row mt-3 w-100">
        <div class="col-md-4 col-xs-12">User Type</div>
        <div class="col-md-8 col-xs-12">{{if eq .Usertype "2"}}Staff{{else}}Admin{{end}}</div>
    </div>
    <div class="row mt-3 w-100">
        <div class="col-md-4 col-xs-12">User Status</div>
        <div class="col-md-8 col-xs-12">{{if eq .Userstatus "0"}}Inactive{{else}}Active{{end}}</div>
    </div>      
    {{end}}                            
</div>
{{template "footer.html" .}}